<div class="container">
  <nav class="main-nav">  
    <a class="main-nav__logo" href="#/"><img class="logo" src="assets/img/g8tor-logo.svg" alt="G8tor logo"></a>

    <ul class="main-menu main-nav__menu">
      <li class="main-menu__item">
        <a class="" href="#/">Home</a>
      </li>

      <li class="main-menu__item">
        <a class="" href="#about">About</a>
      </li>

      <li class="main-menu__item">
        <a class="" href="#shop">Shop</a>
      </li>

      <li class="main-menu__item">
        <a class="" href="#cart">Cart ( <span style="color:yellow;font-weight: bold">{{ cartCount }}</span> )</a>
      </li>
    </ul>
  </nav>
</div>
