<!-- Home view -->

<section class="hero-home">
 <h1 class="hero-home__text">The No Worry Tie-Down System</h1>
</section>

<section class="video p-y-3">

  <div class="video__wrap container">
    <img src="assets/img/video-place-holder.jpg">
  </div><!-- end col -->

</section>

<section class="section-two p-y-2">
  <div class="container">
    <div class="row p-y-2">
      <figure class="home-fig col-sm-6 offset-md-1 col-md-5 col-xl-4 offset-xl-2 p-b-1">
        <img class="home-fig__img" src="assets/img/g8tor-275.jpg">
        <figcaption class="home-fig__caption m-t-1">The complete G8tOR system will equip your vehicle or trailer with the ultimate tie down experience.</figcaption>
      </figure><!-- end col -->

      <figure class="home-fig col-sm-6 col-md-5 col-xl-4 p-b-1">
        <img class="home-fig__img" src="assets/img/g8tor-pro-275.jpg">
        <figcaption class="home-fig__caption m-t-1">The G8tOR Pro was designed for use with heavier duty applications. It allows for chains, wire, or larger straps.</figcaption>
      </figure><!-- end col -->
    </div><!-- end row -->
    <a class="btn btn-outline-primary btn-shop" href="#shop">Get the G8TOR</a>
  </div>
</section>

<section class="section-three p-y-2">
  <div class="container p-y-2">
    <div class="row p-y-2">
      <div class="col-sm-6 offset-sm-3">
        <p class="m-b-0">The G8tor will equip your vehicle or trailer with the ultimate tie down system to secure your load safely and securely.</p>
      </div>
    </div>    
  </div><!-- end container -->
</section>